
@{
    ViewBag.Title = "DatHang";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@using Figure2.Models

<br />
<h3 style="text-align:center;">THÔNG TIN GIỎ HÀNG</h3>
<br />
<table @*border="1"*@ style="font-family:Arial">
    <tr style=" font-size: 18px;font-weight:bold;text-align:center">
        <td>Mã sách</td>
        <td>Tên sách</td>
        <td width="160px">Ảnh bìa</td>
        <td width="100px">Số lượng</td>
        <td>Đơn giá</td>
        <td width="130px">Thành tiền</td>
       
        <td width="60px">  @Html.ActionLink("Xóa tất cả", "XoaGioHang")</td>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td align="center">
                @item.iMaFigure
            </td>
            <td>
                @item.sTenFigure
            </td>
            <td style="text-align:center">
                <img src="~/img/products/@item.sAnh" style="width:150px;" />
            </td>
            @using (Html.BeginForm("CapNhatGioHang", "GioHang", new { iMaFigure = item.iMaFigure }))
            {
                <td align="center">
                    @item.iSoLuong
                </td>
                <td align="center"> @string.Format("{0:#,##0,0}", @item.dDonGia)</td>
                <td style="color:red;" align="center">@string.Format("{0:#,##0,0}", @item.dThanhTien)</td>


            }
        </tr>
    }

    <tr class="no-border" style="color:blue;text-align:left;">
        <td colspan="9">
            Số lượng: @string.Format("{0:#,##0,0}", @ViewBag.TongSoLuong)
        </td>
    </tr>
    <tr class="no-border" style="color:blue;text-align:left;">
        <td colspan="9">
            Tổng tiền: @string.Format("{0:#,##0,0}", @ViewBag.TongTien) VND
        </td>

    </tr>

    <tr style="font-weight:bold; color:blue; text-align:right;">
        <td colspan="9">
            @Html.ActionLink("TRỞ VỀ GIỎ HÀNG", "GioHang", "GioHang")
        </td>
    </tr>
</table>
<br />
<h3 style="text-align:center">THÔNG TIN ĐẶT HÀNG</h3>
<br />
@{
    NguoiDung kh = (NguoiDung)Session["TaiKhoan"];
}
<table align="center">
    @using (Html.BeginForm())



    {
        @Html.ValidationSummary(true)
        <tr style="height:40px;">
            <td>Họ tên khách hàng:</td>
            <td style="font-weight:bold">@kh.tenNguoiDung</td>
        </tr>
        <tr style="height:40px;">
            <td>Địa chỉ:</td>
            <td style="font-weight:bold">@kh.diaChi</td>
        </tr>
        <tr style="height:40px;">
            <td>Điện thoại:</td>
            <td style="font-weight:bold">@kh.soDienThoai</td>
        </tr>
        <tr style="height:40px;">
            <td>Ngày đặt:</td>
            <td style="font-weight:bold">@DateTime.Now.ToShortDateString()</td>
        </tr>
        <tr style="height:40px;">
            <td>Ngày giao:</td>
            <td style="font-weight:bold">
                <input type="date" name="NgayGiao" required />
            </td>
        </tr>
        <tr style="height:40px;">
            <td></td>
            <td>
                <input type="submit" value="ĐẶT HÀNG" />
            </td>
        </tr>
    }
</table>
<br />
<style>
    table {
        margin: auto;
    }

    a {
        text-decoration: none;
    }
</style>