
@model Figure2.Models.Product
<section id="header">
    <a href="#">
        <img src="~/img/logo.png" class="logo">
    </a>
    <div>
        <ul id="navbar">
            <li>
                <a class="active" href="~/Figure/Index">Trang Chủ</a>
            </li>
            <li>
                <a href="about.html">Giới thiệu</a>
            </li>
            <li>
                @Html.Action("ItemPatrial", "Figure")
            </li>

            <li>
                <a href="blog.html">Hướng dẫn</a>
            </li>
            <li>
                <a href="contact.html">Liên hệ</a>
            </li>
            <li>

                <form class="sbox" action="~/TimKiem/TimKiem" method="get">
                    
                    <input class="stext" type="text" id="search" name="q" placeholder="Tìm kiếm">
                    <button type="submit" class="sbutton">Tìm</button>

                    </form>

            </li>
        </ul>

        <ul id="navbar1">
            @if (Session["TaiKhoan"] != null)
            {
                <li>
                    <a href="@Url.Action("TTUser","User")">Xin chào: @Session["HoTen"].ToString()</a>
                </li>

                <li>
                    <button class="btnLogout-popup">
                        <a href="@Url.Action("DangXuat","User" ,new {url= Request.Url.ToString()})">Đăng xuất</a>
                    </button>
                </li>
            }
            else if (Session["LoginGF"] != null)
            {
                <li>
                    <a href="">Xin chào: @Session["HoTenGF"].ToString()</a>
                </li>

                <li>
                    <button class="btnLogout-popup">
                        <a href="@Url.Action("DangXuat","User" ,new {url= Request.Url.ToString()})">Đăng xuất</a>
                    </button>
                </li>
            }

            else
            {

                <li>
                    <button class="btnLogin-popup">
                        <a href="@Url.Action("DangNhap","User" ,new {url= Request.Url.ToString()})">Đăng nhập</a>
                    </button>
                </li>
            }

            <li id="lg-bag">
                @Html.Action("GioHangPartial", "GioHang")
            </li>


            @* <a href="#" id="close"><i class="far fa-times"></i></a>*@
        </ul>
    </div>
    
</section>
<style>

  
    .sbutton {
        color: #e84118;
       /* float: right;*/
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border:0px;
        background: #DADADA;
       /* display: flex;
        justify-content: center;
        align-items: center;*/
        text-decoration: none;
        transition: 0.8s;
    }
    .stext {
        border: none;
        background: none;
        outline: none;
        float: left;
        padding: 0;
        color: #555;
        font-size: 15px;
        transition: 0.4s;
        line-height: 40px;
        width: 0px;
    }
    .sbox:hover > .stext {
        width: 200px;
        padding: 0 5px;
        border-radius: 50px;
    }

    .sbox:hover > .sbutton {
        background: #fff;
    }

    .fa-search {
        color: #001EFF;
    }
</style>